@import 'globals';

.fc-button {
    line-height: initial;
    border-radius: 0px;
}

.fc-center {
    margin-top: 32px;
}

#calendar-container {
    width: 60%;
    margin-right: 10%;

    #calendar {
        width: 100%;
        height: 600px;
    }
}

input[type="submit"] {
    width: 100%;
}

#preferences {
    width: 30%;
    .preference {
        list-style: none;
        padding: 1em 0;
        margin: 0;
        .delete {
            color: $red;
            display: none;
            text-decoration: none;
            margin-right: 1em;
        }
        &:hover .delete {
            display: inherit;
        }
    }
}
