@import 'globals';

header {
    @include z-depth-1();

    height: 2.5em;
    padding: 8px;
    background-color: $teal;

    > form {
        float: right;
    }
}

.container {
    padding: 16px;
    display: flex;
    align-items: top;
    justify-content: center;
}
