@import 'globals';

header {
    @include z-depth-1();

    height: 2.5em;
    padding: 8px;
    background-color: $teal;
    > h1 {
        color: white;
        display: inline-block;
        font-size: 2em;
    }

    > form {
        float: right;
    }
}

.container {
    padding: 16px;
    display: flex;
    align-items: top;
    justify-content: center;
}

button.link {
    border: none;
    padding: 0;
    height: initial;
    line-height: initial;
    font-size: 16px;
}
