@import 'globals';

body {
    background-color: #eee;
}

#login-prompt {
    @include z-depth-1();

    margin: 0 auto;
    margin-top: 100px;
    width: 300px;

    padding: 16px;

    background-color: #ddd;
}
