{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css">
{% endblock styles %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
{% endblock %}

{% block body %}
<div id="calendar-container">
  <p>Hi {{ current_user.name }}!</p>
  <p>Welcome to your personalized Grebel Menu.  Take a look at the menu below or your favourites on the right.</p>
  <div id="calendar"></div>
</div>

<div id="preferences">
  <h3>Your Favourites</h3>
  <form id="add-preference-form" method="POST" action="{{ url_for('add_preference') }}">
    {{ form.csrf_token }}
    <div class="row">
      {{ form.food.label }} {{ with_errors(form.food) }}
    </div>
    {{ form.submit(class_='button-primary') }}
  </form>
  <ul>
    {% for pref in current_user.preferences %}
    <li class="preference" data-id="{{ pref.id }}">
      <span {% if pref.food.lower() in upcoming %}class="bold"{% endif %}>{{ pref.food }}</span>
      <button class="delete u-pull-right link">X</button>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
