{% macro with_errors(field) %}
<div class="form_field">
  {% if field.errors %}
  {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
  {{ field(class=css_class, **kwargs) }}
  <ul class="errors">
    {% for error in field.errors %}
    <li>{{ error|e }}</li>
    {% endfor %}
  </ul>
  {% else %}
  {{ field(**kwargs) }}
  {% endif %}
</div>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/normalize.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/skeleton.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}" type="text/css">
    <title>Grebel Menu</title>
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <header>
      <h1>My Grebel Menu</h1>
      <form method="POST" action="{{ url_for('logout') }}">
        <button type="submit">Log out</button>
      </form>
    </header>
    {% endif %}

    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/third-party/jquery-latest.min.js')}}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
