{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css" media="all">
{% endblock %}

{% block body %}
<div id="login-prompt">
  <form method="POST" action="/login">
    {{ form.csrf_token }}
    <div class="row">
      {{ form.email.label }} {{ with_errors(form.email) }}
    </div>
    <div class="row">
      {{ form.password.label }} {{ with_errors(form.password) }}
    </div>
    <div class="row">
      <label>
      {{ form.remember }}
      <span class="label-text">{{ form.remember.label.text }}</span>
      </label>
    </div>
    {% if invalid_login %}
    <ul class="errors">
      <li>Invalid username or password</li>
    </ul>
    {% endif %}
    <div class="row">
    {{ form.submit(class_='button-primary') }}
    </div>
  </form>
  <p>If you do not have any account please<br />
  <a href="/register">sign up here</a> or</p>
  <a href="{{ url_for('login_google') }}">
    <img src="{{ url_for('static', filename='imgs/btn_google_signin_dark_normal_web.png') }}" title="Log in with Google">
  </a>
</div>
{% endblock body %}
