{% extends 'layout.html' %}

{% block body %}
<form method="POST" action="/login">
    {{ form.csrf_token }}
    {{ form.email.label }} {{ form.email }}
    {{ form.remember.label }} {{ form.remember }}
    {{ form.submit }}
</form>
If you do not have any account please <a href="/register">sign up here</a> or <br />
<a href="{{ url_for('login_google') }}">
  <img src="{{ url_for('static', filename='imgs/btn_google_signin_dark_normal_web.png') }}" title="Log in with Google">
</a>
{% endblock body %}
